body{
  /*background-color: #36454f;*/
  /*background-image: url("/resources/notebook.png");*/
  background-color: #010101;
  color:white;
  font-family: 'Roboto','PT Serif',Helvetica,Arial,sans-serif;
  word-spacing: 2px;
}
html, body{
  margin:0;
  padding:0;
}
@font-face {
    font-family: League-Spartan;
    font-weight: bold;
    src: url("fonts/LeagueSpartan-Bold.otf") format("opentype");
}
a{
  text-decoration: none;
  color:white;
}
a:visited{
  /*color:white;*/
}
.shadowHeader{
  text-shadow: 2px 2px 4px #000000;
  background-color: rgba(0,0,0,0.1);
  display:inline-block;
  width:auto;
  padding:10px;
  margin:0;
}
.center{
  display: block;
  margin:0 auto;
  width:90%;
}



.mainContainer{
  background-color: #0099CC;
}
.extraMarginTop{
    margin-top:70px;
}

/*portfolio page*/
.gradient-background{
  background: linear-gradient(to left, #708090 , #a9b2bc);
}
.contentContainer{
  width:80%;
  margin:0 auto;

}

.projectContainer{
  width:100%;
  margin:25px 0 35px 0;
  height:250px;
}

.infoContainer{
  width:70%;
  margin:0 auto;
  text-align:center;

  /*margin-top:10%;*/
}
.infoContainer h1{
  margin: 15px 0;
}
.infoContainer span{
  display: block;
  margin-bottom: 5px;
}
.infoContainer i{
  color:black;
}

.skillOverlay{
  margin: 0 auto;
  height:100%;
  width:auto;
  /*background-color: blue;*/
  position: relative;
  z-index: 1;
}
.overlay{
  position: absolute;
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 3;
}
.individualProjectSkills{
  width:70%;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.fullWidthContainer{
  width:100%;
}

.skillsContainer{
  width:45%;
  height:200px;
  margin: 0 auto;
  margin-top: 25px;
}
.skill{
  display:inline-block;
  float:left;
  border: 1px solid black;
  color:white;
  background-color: #0099cc;
  margin: 5px;
  padding:5px;
  border-radius: 5px;
}
.skills{
  margin:0 auto;
  width:90%;
}
#skillHeader, #skillDesc{
  color:white;
  /*margin-left: 25px;*/
  margin-top:0;
}

#aboutMe{
  background-color: #516e8b;
  height:600px;
  margin:0;
}
#aboutMe h1{
  margin-left: 25px;
}


/*blog page*/
.blue{
  background-color: #2C3F48;
}
.articleContainer{
  width:100%;
  height:300px;
  /*background-color:#708090;*/
  background-color: white;
  color:#708090;
  margin: 30px 0;
  overflow: hidden;

}
.articleTitle{
  width:100%;
  height:auto;
  text-align: center;
  padding-top: 1px;

}
.articleTitle h2{
  color: #708090;
  text-decoration: underline;
}
.articleContent{
  width:70%;
  margin:0 auto;

}
.shadowHeader i{
  margin-right: 15px;
}


/*post page*/
#deleteButton{
  margin:25px 0;
  display:block;
  border:2px solid red;
  text-align: center;
  background-color:red;
}

.postHeader{
  text-align: center;
  padding:5px;
  background-color: rgba(0,0,0,0.1);
  text-transform: capitalize;
  margin-top: 25px;
}
.postHeader h2{
  margin:0;
  text-shadow: 2px 2px 4px #000000;
}
.postBody{
  background-color: #708090;
  /*margin-top: 25px;*/
  padding: 25px;
}

/*new post page*/
#createPostForm{
    margin-top: 20px;
  width:100%;
  height:400px;
  background-color: #708090;
  padding:25px;
}
#createPostForm input{
  display:block;
  margin: 0 0 25px 0;
}
#createPostForm form{
  display:block;
  margin:0 auto;
}


/*photography */
.photography-background{
  background-color:#709090;
   /*#907070 ;*/
  /*#523145;*/
}

.back1{
  /*background-color: #516e8b;*/
  background-image: url("/resources/bridgebig.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.back2{
  background-color: #5a8bbd;
}
.back3{
  background-color: #2e4051;
}
#aniimated-thumbnials img{
  height:200px;
  width:auto;
  margin:0 auto;
  /*float:left;*/
}
#picturesContainer{
    text-align: center;
}


/*page not found*/
#notFound{
  display: block;
  position: absolute;;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}



#mainHeader{
  width:100%;
  height:650px;
  background-color: #010101;
  position: relative;
  color: #959595;
}
#mainHeader::before{
  width:30%;
  position: absolute;
  height:160px;
  content:'';
  display:block;
  background-color:#0099CC;
  transform: skewY(30deg);
  right:0;
  margin-top: -125px;
}
#mainHeader::after{
  width:30%;
  position: absolute;
  height:150px;
  content:'';
  display:block;
  background-color: #0099CC;
  left:0;
  transform: skewY(-20deg);
  margin-top: -125px;
}
#navigationList{
  position: absolute;
  bottom: 9%;
  right: 1%;
  transform: skewY(-3deg);
}
#navigationList ul{
  text-decoration: none;
  margin:0;
}
#navigationList ul li{
  display:inline-block;
  margin-left:10px;
}
#mainHeader a{
  letter-spacing: 2px;
  color: #B2B2B2;
}
#aboutMeList{
  list-style-type: square;
}
#aboutMeList li{
  margin-bottom:10px;
}
#profilePicture{
  height:500px;
  width:400px;
  background-image: url('/resources/profile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
}
#bio{
  width:400px;
  position: absolute;;
  left:5%;
  bottom:20%;
  margin:0;
  font-family: 'Franchise';
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  word-spacing: 2px;
  letter-spacing: 2px;
  color: #959595;

}
#nameHeader{
  /*font-family:'Franchise';*/
  font-family: 'League-Spartan';
  letter-spacing: 3px;
  font-size: 55px;
  position: absolute;
  top: 50%;
  left: 5%;
color:#B2B2B2;
  border-bottom: 4px solid #0099CC;
}


.project{
  height:700px;
  width:100%;
  position: relative;
}
.projectDescription{
  position: absolute;
  height:50%;
  width:50%;
  top:50%;
  left:5%;
  transform: translateY(-50%);
}
/*.projectImageContainer{
  position: absolute;
  height:50%;
  width:40%;
  top:50%;
  right:5%;
  transform: translateY(-50%);
  background-color: red;
}*/
.projectHeader{
  font-family: 'Franchise';
  letter-spacing: 2px;
  color:white;
  text-align: center;
  font-size: 3em;
  text-shadow: 2px 2px 2px rgba(80, 80, 80, 1);
}
.projectInfo{
  margin-top: 60px;
  width:90%;
  font-size: 1.3em;
  text-align: center;
}
.projectInfo span{
  display: block;
  border-left:5px solid white;
}
.projectImageContainer{
  position: absolute;
  height:300px;
  width:547px;
  top:50%;
  right:1%;
  transform: translateY(-62%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
#youNote{
  background-image: url('/resources/younote.png');
}
#eventCalendar{
  background-image: url('/resources/calendar.png');
}
#church{
  background-image: url('/resources/church.png');
}
#gtMetrix{
  background-image: url('/resources/gtmetrix.png');
}

/*helper classes*/

.extraSpaceContainer {
  height:80px;
  margin-top: -37px;
  /*background-color: blue;*/
}
.lineRight::after {
  content:'';
  display:block;
  width:100%;
  height: 80px;
  background-color:#0099CC;
  transform: skewY(-3deg);
  margin-top: -5px;
}
.lineLeft::after {
  content:'';
  display:block;
  width:100%;
  height: 100px;
  background-color:#010101;
  transform: skewY(3deg);
}
.blackBackground{
  background-color: #010101;
}


@media(max-width: 1400px){

  #profilePicture{
    height:400px;
    width:320px;
  }
  #nameHeader{
    top: 48%;
    left: 3%;
    font-size: 43px;
  }
  .lineRight::after{
    margin-top: -7px;
  }
  .projectImageContainer{
    width:450px;
    height: 246px;
    right: 4%;
  }
}
@media(max-width: 1100px){

  #profilePicture{
    height:320px;
    width:256px;
  }
  #nameHeader{
    top: 55%;
    left: 3%;
    font-size: 40px;
  }
  .projectInfo{
    font-size: 1.1em;
  }
  .projectHeader{
    font-size:2.5em;
  }
  .projectImageContainer{
    width: 400px;
    height: 219px;
    right: 5%;
  }
  .project{
    height:500px;
  }
}
@media(max-width: 970px){

  #nameHeader{
    top: 60%;
    left: 4%;
    font-size: 30px;
  }
  .projectImageContainer{
    width: 350px;
    height: 191px;
    right: 5%;
  }
  .skillsContainer{
    width:60%;
  }
}
@media(max-width:830px){

  #nameHeader{
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
  }
  #navigationList{
    bottom: 7%;
  }
  #mainHeader a{
    letter-spacing: 0px;
  }
  .projectImageContainer{
    width: 325px;
    height: 178px;
    right: 3%;
  }
  .skillsContainer{
    width:70%;
  }
}

@media(max-width: 730px){

  .project{
    height:500px;
  }
  .projectImageContainer{
    top:90%;
    right:30%;
    /*transform: translateX(-40%);*/
  }
  .projectDescription{
    width:80%;
  }
  .lineLeft::after{
    margin-top:50px
  }
  .projectInfo{
    font-size: 1em;
  }
  .projectHeader{
    font-size:2em;
  }
  #navigationList ul li{
    display:block;
  }
  #navigationList{
    right:3%;
  }
  .skillsContainer{
    width:80%;
  }
  .extraSpaceContainer{
    height:20px;
  }
}
@media(max-width: 520px){
  #mainHeader a{
    font-size: 12px;
  }
  #navigationList ul li{
    display: inline-block;
    float:left;
  }
  #navigationList{
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin:0;
    /*transform: skewY(0deg);*/
  }
  .projectImageContainer{
    width: 275px;
    height: 151px;
    /*right: 18%;*/
  }
  .skillsContainer{
    width: 85%;
  }
  .skill{
    font-size: 0.9em;
  }
  #skillDesc{
    font-size: 0.9em;
  }
  .skills{
    padding-top:15px;
  }
}
@media(max-width: 440px){
  .projectImageContainer{
    right: 18%;
  }
  .project{
    height:450px;
  }
  .projectInfo{
    font-size: 0.9em;
  }
  .projectHeader{
    font-size:1.5em;
  }
  .skillsContainer{
    width:90%;
  }
  .skill{
    font-size: 0.8em;
  }
  #mainHeader::after {
    margin-top: -129px;
  }
}
