<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <title>Document</title>
</head>
<body>
  <div id="mainHeader">
      <h1 id="nameHeader">Tyler Gaugler</h1>
      <div id="links">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/blog">BLOG</a></li>
          <li><a href="/photography">PHOTOGRAPHY</a></li>
        </ul>
      </div>

  </div>
  <div class="mainContainer">
    <div class="contentContainer">

      <h1 class="shadowHeader">Recent Blog Posts</h1>
      <a href="/blog/create"><h1 class="shadowHeader" style="float:right"><i class="fa fa-pencil" aria-hidden="true"></i>Create New Post</h1></a>


        <% for(var i=posts.length -1; i>=0 ;i--){ %>
          <div class="articleContainer">
            <div class="articleTitle">
               <a href="/blog/<%=posts[i].id%>"><h2> <%= posts[i].title %> </h2></a>
            </div>
            <div class="articleContent">
               <span class="content"> <%= posts[i].body %> </span>
            </div>
          </div>
        <% } %>

    </div>


  </div>
<script>
  var $content =  document.getElementsByClassName('content');
  for(var i=0;i< $content.length;i++){
    $content[i].innerHTML =  $content[i].innerHTML.split(".",5).join(".")+"...";
  }
</script>
</body>
</html>
