<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <title>Tyler Gaugler</title>
</head>
<body>

<div id="mainHeader">
  <div id="navigation">

  </div>

    <h1 id="nameHeader">Tyler Gaugler</h1>
    <div id="navigationList">
      <ul>
          <li><a href="/" >HOME</a></li>
          <li><a href="#" >BLOG</a></li>
          <li><a href="#" >PHOTOGRAPHY</a></li>

      </ul>

    </div>


  <div id="profilePicture"></div>
  <div id="bio">
    <span>
      Hey! I'm a soon to be graduate looking for employment as a fullstack web developer in NYC.
      <br><br>
      A little <h1 style="display:inline-block;text-decoration:underline;margin-bottom:5px;"><strong>ABOUT ME:</strong></h1>
      <ul id="aboutMeList" style="padding:0px;">
        <li>I beleive Jesus is worth following.</li>
        <li>I enjoy sports (football, volleyball, bike riding, rock climbing, ultimate frisbee).</li>
        <li>I volunteer teach english to mainly south eastern asian immigrants in Jackson Heights. </li>
      </ul>
    </span>
  </div>
</div>
<div class="lineRight"></div>


  <div class="mainContainer" >
    <div class="extraSpaceContainer">

    </div>


      <div class="fullWidthContainer">
        <div class="project">
          <div class="projectDescription">
              <h1 class="projectHeader center">YouNote</h1>
              <div class="projectInfo center">
                <span>
                   YouNote is a web app built with Rails that allows user to search for videos using the youtube api, take notes while watching, and save them for later.
                 </span>
              </div>
          </div>
          <div class="projectImageContainer" id="youNote">
            <img src="" alt="">
          </div>
        </div>
      </div>

      <div class="fullWidthContainer">
        <div class="project">
          <div class="projectDescription">
              <h1 class="projectHeader center">EventCalendar</h1>
              <div class="projectInfo center">
                <span>
                    Built with node.js and express, users can add events to created calenders, which can be shared with other users to enable collaborative scheduling. Users can sign up with FaceBook.
                 </span>
              </div>
          </div>
          <div class="projectImageContainer" id="eventCalendar">
            <img src="" alt="">
          </div>
        </div>
      </div>
      <div class="fullWidthContainer">
        <div class="project">
          <div class="projectDescription">
              <h1 class="projectHeader center">Maspeth Bible Church</h1>
              <div class="projectInfo center">
                <span>
                   Individually developed and designed a website for the church I attend, Maspeth Bible Church, using HTML/CSS and Bootstrap. The site is still maintained and is in need of constant updating.
                 </span>
              </div>
          </div>
          <div class="projectImageContainer" id="church">
            <img src="" alt="">
          </div>
        </div>
      </div>



      <div class="fullWidthContainer">
        <div class="project">
          <div class="projectDescription">
              <h1 class="projectHeader center">GtMetrix Extension</h1>
              <div class="projectInfo center">
                <span>
                   A Google Chrome extension that will allow you to use GTmetrix to check the speed of the current page you are browsing.
                 </span>
              </div>
          </div>
          <div class="projectImageContainer" id="gtMetrix">
            <img src="" alt="">
          </div>
        </div>
      </div>

<div class="lineLeft"></div>
<div class="extraSpaceContainer blackBackground"></div>
    <div class="fullWidthContainer blackBackground">
      <h1 id="skillHeader">Skills</h1>
      <span id="skillDesc">Some of the languages/frameworks/libraries/tools I have had exposure to: </span>
      <div class="skillsContainer">
        <div class="skill">Ruby on Rails</div>
        <div class="skill">Ruby</div>
        <div class="skill">HTML/CSS</div>
        <div class="skill">Node.js</div>
        <div class="skill">Express</div>
        <div class="skill">Git</div>
        <div class="skill">Java</div>
        <div class="skill">C++</div>
        <div class="skill">JavaScript</div>
        <div class="skill">JQuery</div>
        <div class="skill">Perl</div>
        <div class="skill">Postgres</div>
        <div class="skill">Heroku</div>
        <div class="skill">Sass</div>
        <div class="skill">Bootstrap</div>
        <div class="skill">Grunt</div>
        <div class="skill">MVC</div>
        <div class="skill">FTP</div>
        <div class="skill">AJAX</div>
      </div>
    </div>

  </div> <!-- main container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</body>
</html>
