<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Create New Post</title>
</head>
<body>
  <div id="mainHeader">
      <h1 id="nameHeader">Tyler Gaugler</h1>
      <div id="links">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/blog">BLOG</a></li>
        </ul>
      </div>
  </div>
  <div class="mainContainer">
    <form action="/blog/create" method="post">
      <label for="title">Title</label>
      <input type="text" name="title" value="">
      <textarea name="body" rows="8" cols="80"></textarea>
      <input type="submit" name="" value="Create New Post">
    </form>
  </div>

</body>
</html>
