<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <link type="text/css" rel="stylesheet" href="/lightgallery/css/lightgallery.min.css" />
    <link rel="stylesheet" href="/css/animsition.min.css">
  <title>Photography</title>
</head>
<body>
  <div class="animsition-overlay">


  <div id="mainHeader" class="back3">
      <h1 id="nameHeader">Tyler Gaugler</h1>
      <div id="navigation" >

        <ul>
            <li><a href="/" class="animsition-link">HOME</a></li>
            <li><a href="/blog" class="animsition-link">BLOG</a></li>
            <li><a href="/photography" class="animsition-link">PHOTOGRAPHY</a></li>

        </ul>

      </div>

  </div>
  <div class="mainContainer">
      <div class="contentContainer" id="picturesContainer">
        <div id="aniimated-thumbnials">
          <a href="/resources/pic1.jpg">
              <img src="resources/pic1.jpg" />
          </a>
          <a href="/resources/pic2.jpg">
              <img src="resources/pic2.jpg" />
          </a>
          <a href="/resources/pic3.jpg">
              <img src="resources/pic3.jpg" />
          </a>
          <a href="/resources/pic4.jpg">
              <img src="resources/pic4.jpg" />
          </a>
          <a href="/resources/pic5.jpg">
              <img src="resources/pic5.jpg" />
          </a>
          <a href="/resources/pic6.jpg">
              <img src="resources/pic6.jpg" />
          </a>
          <a href="/resources/pic7.jpg">
              <img src="resources/pic7.jpg" />
          </a>
          <a href="/resources/pic8.jpg">
              <img src="resources/pic8.jpg" />
          </a>
          <a href="/resources/pic9.jpg">
              <img src="resources/pic9.jpg" />
          </a>
          <a href="/resources/pic10.jpg">
              <img src="resources/pic10.jpg" />
          </a>
          <a href="/resources/pic11.jpg">
              <img src="resources/pic11.jpg" />
          </a>
          <a href="/resources/pic12.jpg">
              <img src="resources/pic12.jpg" />
          </a>
          <a href="/resources/pic13.jpg">
              <img src="resources/pic13.jpg" />
          </a>
          <a href="/resources/pic14.jpg">
              <img src="resources/pic14.jpg" />
          </a>
          <a href="/resources/pic15.jpg">
              <img src="resources/pic15.jpg" />
          </a>
          <a href="/resources/pic16.jpg">
              <img src="resources/pic16.jpg" />
          </a>
          <a href="/resources/pic17.jpg">
              <img src="resources/pic17.jpg" />
          </a>
      </div>

      </div>
  </div>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/lightgallery/js/lightgallery.min.js"></script>
  <script src="/js/animsition.min.js" charset="utf-8"></script>
  <script src="/js/blog_script.js" charset="utf-8"></script>

  <script type="text/javascript">
  $('#aniimated-thumbnials').lightGallery({
    thumbnail:true,

  });

</script>
</body>
</html>
