<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <title>Tyler Gaugler</title>
</head>
<body>
  <div id="mainHeader">
      <h1 id="nameHeader">Tyler Gaugler</h1>
      <div id="links">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/blog">BLOG</a></li>
          <li><a href="/photography">PHOTOGRAPHY</a></li>
        </ul>
      </div>
  </div>
  <div class="mainContainer">

      <div class="contentContainer">
        <h1 class="shadowHeader">This is my portfolio!</h1>
          <div class="projectContainer">
              <div class="projectHeader">
                <div class="infoContainer">
                  <h1 class="projectTitle"><a href="https://younote.herokuapp.com/" target="_blank">YouNote</a></h1>
                  <span>
                    YouNote is web app built with Rails that allows user to search for videos, take notes, and save them for later.
                  </span>
                  <a href="https://github.com/tylergaugler16/youNote" class="github" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i> </a>
                </div>
              </div>
              <div class="projectDescription">
                <div class="skillOverlay">
                  <img src="/resources/younote.png" alt="">
                  <div class="overlay" style="display:none">
                    <div class="individualProjectSkills">
                      <div class="skill">Ruby on Rails</div>
                      <div class="skill">HTML/CSS</div>
                      <div class="skill">Sass</div>
                      <div class="skill">Bootstrap</div>
                      <div class="skill">Git</div>
                      <div class="skill">Heroku</div>
                    </div>

                  </div>
                </div>

              </div>
          </div> <!-- project container -->

          <div class="projectContainer">
              <div class="projectHeader">
                <div class="infoContainer">
                <a href="http://maspethbiblechurch.com/" target="_blank">  <h1 class="projectTitle">Maspeth Bible Church</h1></a>
                  <span>
                    Individually developed and designed a website for the church I attend, Maspeth Bible Church, using HTML/CSS and Bootstrap. The site is still maintained and is in need of constant updating.
                  </span>
                  <a href="https://github.com/tylergaugler16/tylergaugler16.github.io" class="github" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i> </a>
                </div>
              </div>
              <div class="projectDescription">

                  <div class="skillOverlay">
                      <a href="http://maspethbiblechurch.com/" target="_blank"><img src="/resources/church.png" alt=""></a>
                      <div class="overlay" style="display:none">
                        <div class="individualProjectSkills">
                          <div class="skill">HTML/CSS</div>
                          <div class="skill">JavaScript</div>
                          <div class="skill">JQuery</div>
                          <div class="skill">FTP</div>
                        </div>
                      </div>
                  </div>


              </div>
          </div> <!-- project container -->

          <div class="projectContainer">
              <div class="projectHeader">
                <div class="infoContainer">
                <h1 class="projectTitle">GTmetrix Extension</h1>
                  <span>
                    A Google Chrome extension that will allow you to use GTmetrix to check the speed of the current page you are browsing.
                  </span>
                  <a href="https://github.com/tylergaugler16/GTmetrix-Extension" class="github" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i> </a>
                </div>
              </div>
              <div class="projectDescription">

                <div class="skillOverlay">
                  <img src="/resources/gtmetrix.png" alt="">
                  <div class="overlay" style="display:none">
                    <div class="individualProjectSkills">
                      <div class="skill">HTML/CSS</div>
                      <div class="skill">JavaScript</div>
                    </div>
                  </div>
                </div>
              </div>
          </div> <!-- project container -->


      </div> <!-- content container -->

  <div class="fullWidthContainer">
    <h1 id="skillHeader">Skills</h1>
    <span id="skillDesc">Some of the languages/frameworks/libraries/tools I have had exposure to: </span>
    <div class="skillsContainer">
      <div class="skill">Ruby on Rails</div>
      <div class="skill">Ruby</div>
      <div class="skill">HTML/CSS</div>
      <div class="skill">Node.js</div>
      <div class="skill">Git</div>
      <div class="skill">Java</div>
      <div class="skill">C++</div>
      <div class="skill">JavaScript</div>
      <div class="skill">JQuery</div>
      <div class="skill">Perl</div>
      <div class="skill">Postgres</div>
      <div class="skill">Heroku</div>
      <div class="skill">Sass</div>
      <div class="skill">Bootstrap</div>
      <div class="skill">Grunt</div>
      <div class="skill">MVC</div>
      <div class="skill">FTP</div>
    </div>
  </div>
  </div> <!-- main container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/portfolio_script.js" charset="utf-8"></script>
</body>
</html>
